extends layout

block content
  h1= title
  p Enter text below:
  textarea#text
  p Choose an emoji or type one in the text box:
  input#symbol(type="text", value="👏")
  div.collection#symbol-collection
  p See results here:
  p#result
  p
    button#copy-button Copy to clipboard
    span.fadeInOut#did-copy Copied!
  script(src='javascripts/just-claps.js')
  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
