{% extends "layout.njk" %}

{% block content %}
  <h1>{{title}}</h1>
  <p>Enter text below:</p>
  <textarea id="text"></textarea>
  <p>Choose an emoji or type one in the text box:</p>
  <input id="symbol" type="text" value="👏"/>
  <div class="collection" id="symbol-collection"></div>
  <p>See results here:</p>
  <p id="result"></p>
  <p>
    <button id="copy-button">Copy to clipboard</p>
    <span class="fadeInOut" id="did-copy">Copied!</span>
  </p>
  <a href="https://github.com/amullins83/just-the-claps-rest">
     <img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"/>
  </a>
  <script src='javascripts/just-claps.js'></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% endblock %}