body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fadeInOut {
	display: none;
	opacity: 0;
	transition: opacity 0.5s;
	color: green;
	position: relative;
	margin-left: 1em;
}
