body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fadeInOut {
	display: none;
	opacity: 0;
	transition: opacity 0.5s;
	color: green;
	position: relative;
	margin-left: 1em;
}

#symbol {
	font-size: 24px;
	width: 2em;
	text-align: center;
}

.symbol-btn {
	display: inline-block;
	padding: 0.25em;
	font-size: 18px;
	cursor: pointer;
	border: 2px solid transparent;
	width: 1.5em;
	text-align: center;
}

.symbol-btn--selected {
	border: 2px solid blue;
}

.symbol-btn:hover {
	background-color: gray;
}

.container {
	width: 100px;
	overflow-wrap: break-word;
}
